page-jcx-lite {
    textarea {
        border-color: green;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px 10px 0px 0px;
        height: 200px;
        width: 100%;

    }
x

    ion-icon {
        font-size: 3em;
        color: #f90;
    }

    .scan-camera{
        background-image:url('../assets/img/jcx_scan_camera-1.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 96px;
        height: 50px;
        display: block;
        margin: auto;
    }
}