page-jcx-lite {
    textarea {
        height: 200px;
    }
    ion-icon {
        font-size: 3em;
        color: #f90;
    }

    .scan-camera{
        background-image:url('../assets/img/jcx_scan_camera-1.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 96px;
        height: 50px;
        display: block;
        margin: auto;
    }
}