page-jcx-help {
    .no-bottom {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    h3 {
        font-size: 17px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    .bounce-left {
        display: inline;
    }

    .imgInline15 {
        height: 15px;
        width: 15px;
        display: inline;
    }

    .highlight {
        font-weight: bold;
        color: #f60;
    }

    p {
        line-height: 30px;
        margin-bottom: 30px;
        font-size: 15px;
        letter-spacing: 0;
    }

    .panel-group {
        margin-bottom: 20px;
    }

    section {
        display: block;
    }

    .panel-group .panel {
        margin-bottom: 0;
        border-radius: 4px;
    }

    .panel-default {
        border-color: #ddd;
    }

    .hidden {
        display: none!important;
    }

    .panel-default>.panel-heading {
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }
    .panel-group .panel-heading {
        border-bottom: 0;
    }
    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .collapse.in {
        display: block;
    }
    .collapse {
        // display: none;
        display: block;
    }

    .panel-default>.panel-heading+.panel-collapse>.panel-body {
        border-top-color: #ddd;
    }
    .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
        border-top: 1px solid #ddd;
    }
    .panel-body {
        padding: 15px;
    }

    ol {
        margin-bottom: 30px;
    }

    ol, ul {
        margin-top: 0;
        margin-bottom: 10px;
    }

    li {
        line-height: 18px;
        margin-bottom: 5px;
        list-style: inside;
    }

    .sign-img {
        height: 12px;
        width: 12px;
    }

}
