<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button menuToggle>
        <ion-icon large name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <div class="topbar-logo"></div>
    <ion-buttons end>
      <button (click)="myMoreAction($event)">
        <ion-icon large name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <h4 style="text-align: center; font-weight: 800;">集诚信 -- 网购社区</h4>

  <!--
                <div class="imgMiddleCenterBackground2" 
                  [style]=" 'height: ' + slideHeight + 'px; background-image: url(' + 
                    userSettings.allinone.pi1.imgSrc + ');' | safeCss">
                </div>
  -->

  <ion-card>
    <ion-card-header>
      最新论坛图片
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="userSettings.allinone != null">
        <ion-slides [autoplay]="4000" [initialSlide]="0" [loop]="true" >
          <ion-slide (click)="openTopic(userSettings.allinone.pi1)">
            <div class="slider-wrapper">
              <div class="slide-item">
                <div class="imgMiddleCenterBackground2" 
                    [ngStyle]="{'height': slideHeight + 'px', 'background-image': 'url('+ userSettings.allinone.pi1.imgSrc + ')' }">
                </div>
              </div>
              <div class="pi-desc">{{userSettings.allinone.pi1.subject}}</div>
            </div>
          </ion-slide>
          
          <ion-slide (click)="openTopic(userSettings.allinone.pi2)">
            <div class="slider-wrapper">
              <div class="slide-item">
                <div class="imgMiddleCenterBackground2" 
                    [ngStyle]="{'height': slideHeight + 'px', 'background-image': 'url('+ userSettings.allinone.pi2.imgSrc + ')' }">
                </div>
              </div>
              <div class="pi-desc">{{userSettings.allinone.pi2.subject}}</div>
            </div>
          </ion-slide>

          <ion-slide (click)="openTopic(userSettings.allinone.pi3)">
            <div class="slider-wrapper">
              <div class="slide-item">
                <div class="imgMiddleCenterBackground2" 
                    [ngStyle]="{'height': slideHeight + 'px', 'background-image': 'url('+ userSettings.allinone.pi3.imgSrc + ')' }">
                </div>
              </div>
              <div class="pi-desc">{{userSettings.allinone.pi3.subject}}</div>
            </div>
          </ion-slide>
        </ion-slides>
      </div>
    </ion-card-content>
  </ion-card>

  <div *ngIf="userSettings.allCategories != null">
    <ion-list>
      <ion-item *ngFor="let category of userSettings.getAllNonTradeCategories()">
        <div class="categoryName">
          <span style="color:#F96E02" *ngIf="category.isNew">*</span>
          {{ category.name }}
          <span style="color:#F96E02" *ngIf="category.isNew">*</span>
        </div>
        <ion-list>
          <ion-item *ngFor="let forum of category.forums" (click)="openForum(forum)" >
            <div item-left class="forumicon" [ngStyle]="{'background-position':-forum.forumIconPos * 36 + 'px 0px'}"></div> 
            <h2>{{forum.name}}</h2>
            <p>
              <span style="color:#F96E02" *ngIf="forum.isNew">【最新】</span>
              {{ forum.lpi == null ? forum.description : forum.lpi.topicTitle}}
            </p>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  </div>

</ion-content>