page-jcx-about {
    .highlight {
        font-weight: bold;
        color: #f60;
    }
    p {
        line-height: 30px;
        margin-bottom: 30px;
        font-size: 15px;
        letter-spacing: 0;
    }
}
